[Unit]
Description=Run DuckDNS every 60-70 minutes from boot

[Timer]
OnBootSec=0
OnUnitActiveSec=1h
RandomizedDelaySec=10m

[Install]
WantedBy=timers.target
